<% provide(:title, "Help") %> <h1>Help</h1>
<p>
 Get help about rails music guitar or ideas, see the
<a href="http://bbs.nbtcnet.com"><em>BBS NBTCNET</em></a>.
</p>
<p>
About Rails <a href="http://news.railstutorial.org/" target='_blank'>News</a><p>
