<% provide(:title, '新增出入库') %>
<% provide(:button_text, '创建出入库') %>
<div class="row" >
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/xstock_menu' %>
  </aside>
  <div class="col-md-9">

    <div class="col-md-6 col-md-offset-2">
     <h1>Create 出入库</h1>
      <%= render 'form' %>
    </div>

  </div>

</div>
